<div class="row">
  <div class="col s12">
    <h4>Datasource - {{text-titlecase model.id}}</h4>
  </div>
</div>

<div class="row">

	<div class="col m3 s12">
		{{materialize-date-input label='Start Date' value=startDateStr}}
	</div>
	<div class="col m3 s12">
		{{materialize-date-input label='End Date' value=endDateStr}}
	</div>
	<div class="col m3 s12">
		{{materialize-select
			label="Layout"
			content=allLayoutModes
			value=layoutMode
			optionValuePath="content"
			optionLabelPath="content"}}
	</div>
	<div class="col m3 s12">
		{{materialize-select
			label="Time Granularity"
			content=allTimeGranularities
			value=timeGranularity
			optionValuePath="content"
			optionLabelPath="content"}}
	</div>
  <div class="col m3 s12">
    {{materialize-select
      label="TopK Ranking Metric"
      content=model.metrics
      value=topKRankingMetric
      optionValuePath="content"
      optionLabelPath="content"}}
  </div>
{{!--
  <div class="col m6 s12">
    {{md-selectize
      label="TopN Dimensions"
      multiple=true
      content=model.dimensions
      selected=topKDimensions}}
  </div>
  <div class="col m6 s12">
    {{md-selectize
      label="Time Series Metrics"
      multiple=true
      content=model.metrics
      selected=timeSeriesMetrics}}
  </div> --}}

</div>

<div class="row">
  <div class="col s12 m7">
    {{#each topKData as |topKDataItem|}}
      <div class="col s12 m6">
      {{druid-top-n-list
        dimension=topKDataItem.dimension
        rankingMetric=topKRankingMetric
        content=topKDataItem.data}}
      </div>
    {{/each}}
  </div>
  <div class="col s12 m5">
    {{#each _timeSeriesArrays as |series|}}
      {{#materialize-card title=(text-titlecase series.metric)}}
        {{#materialize-card-content}}
          {{#nf-graph width=268 height=150}}
            {{#nf-graph-content}}
              {{nf-line data=series.points interpolator="linear"}}
            {{/nf-graph-content}}
          {{/nf-graph}}
        {{/materialize-card-content}}
      {{/materialize-card}}
    {{/each}}
  </div>
</div>
